.git
.gitignore
.env
vendor
node_modules
tests
.github
README.md
*.md
storage/logs/*
storage/fonts/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
docker-compose.yml
deploy.sh
.scripts
